doctype html
html(lang='es')
    head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='style.css' media='all')
    title Desafio 05 - PUG
    body