<div class="col-lg-5">
    {{>messages}}
</div>
<div class="col-lg-7">
    {{>products}}
    <div class="row">
        <div class="col-sm-12">
           {{>lists}} 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 text-secondary">
            <a href="./listaproductos">
                <button class="btn btn-primary px-4">Ir a lista productos</button>
            </a>       
        </div>
    </div>   
</div>
<script src="js/main.js"></script>
