<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./style.css" media="all" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <title>Desafio 06 - WebSocket</title>
    </head>
    <!-- Body-->
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row">
                    {{{body}}}
                </div>
            </div>
        </div>
    </body>
</html>