<div class="card">
  <div class="card-body">
    <h5 class="d-flex align-items-center mb-3">Lista de productos</h5>
    <hr class="my-4">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody id="product-table-body">
        </tbody>
      </table>
  </div>
</div>