<div class="card">
  <div class="card-body">
    <h5 class="d-flex align-items-center mb-3">Centro de mensajes</h5>
    <hr class="my-4">
    <div class="row mb-2">
      <div class="col-sm-3">
        <h6 class="mb-0">Email</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input id="input-email" type="text" class="form-control" value="" placeholder="ejemplo@ejemplo.com">
      </div>
    </div>      
    <div class="row mb-2">
      <div class="col-sm-3">
        <h6 class="mb-0">Mensaje</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input id="input-message" type="text" class="form-control" value="" placeholder="Mensaje...">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 text-secondary">
        <input id="btn-submit-message" type="button" class="btn btn-primary px-4" value="Enviar">
      </div>
    </div>
    <hr class="my-4">
    <h6 class="d-flex align-items-center mb-3">Historial de mensajes</h6>      
    <ul id="history-messages" class="list-group list-group-flush"></ul>
  </div>
</div>  