<div class="card">
  <div class="card-body">
    <h5 class="d-flex align-items-center mb-3">Ingrese productos</h5>
    <hr class="my-4">
    <div class="row mb-3">
      <div class="col-sm-3">
        <h6 class="mb-0">Nombre</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input id="input-name" type="text" class="form-control" value="" placeholder="Ingrese nombre">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <h6 class="mb-0">Precio</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input id="input-price" type="text" class="form-control" value="" placeholder="Ingrese Precio">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <h6 class="mb-0">Url</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input id="input-url"  type="text" class="form-control" value="" placeholder="Ingrese Url">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 text-secondary">
        <input id="btn-submit-product" type="button" class="btn btn-primary px-4" value="Guardar">
      </div>
    </div>
  </div>
</div>